* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #d3d3d3;
    background-color: #070F2B;
}


.container {
    padding: 1px 1%; 
}

nav{
    display: flex;
    align-items: right;
    justify-content:right;
    flex-wrap: wrap;
}

nav ul li{
    display: inline-block;
    align-items: center;
    list-style: none;
    margin: 10px 20px;

}

nav ul li a{
    color: #d3d3d3;
    font-size: 18px;
    text-decoration: none;
    position: relative;

}

.header-text {
    text-align: center;
    padding: 2em;
    color: #d3d3d3;
}

/*********Sobre mi**********/
#sobre-mi .row {
    display: flex;
    justify-content: space-between;
    align-items:start;
    padding: 50px 0;
}

.about1 {
    flex-basis: 35%; /* Ajusta el tama침o para ocupar el 30% de la fila */
    display: flex;
    justify-content: center;
}

.about2 {
    flex-basis: 65%; /* Ajusta el tama침o para ocupar el 65% de la fila */
    padding-left: 20px;
    padding-right: 50px;
    text-align:justify;


}

.about1 img {
    border-radius: 15%;
    width: 80%; /* La imagen ocupar치 el espacio asignado a .about1 */
    max-width: 200%; /* Tama침o m치ximo para mantener una proporci칩n */
    align-self: center;
    
}
.sub-title{
    display: flex;
    align-items: right;
    font-size: px;
    color: #d3d3d3
    
}

.parrafo{
    font-size: 20px;
    color: #d3d3d3
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px
}

.tab-links{
    margin-right: 50px;
    font-size: large;
    cursor: pointer;
    position: relative;
    font-size: 20px;
    color: #d3d3d3;
    font: bolder;

}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #1e90ff;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 100%;
    

}

.tab-contents {
    display: none;
    font-size: 20px;
    color: #d3d3d3
}

.tab-contents.active-tab{
    display: block;
}

/*progress bar*/

.progress-container {
    display: flex;
    align-items: center;
    gap: 10px; /* Ajusta este valor seg칰n el espacio que prefieras entre el texto y la barra */
}

.progress-container span {
    width: 100px; /* Fija un ancho que sea adecuado para todo el texto */
}

#progress-bar {
    flex-grow: 1; /* Hace que la barra ocupe el resto del espacio disponible */
}


.tab-contents.active-tab ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
  }
  
.tab-contents.active-tab ul li {
    display: flex;
    align-items: center; 
  }
  
.tab-contents.active-tab ul li progress {
    margin-left: 10px; 
  }


/*****projects*****/
#projects {
    padding: 2rem;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.sub-title {
    font-size: 2rem;
    color: #d3d3d3;
    text-align: center;
    margin-bottom: 1rem;
    font-weight: bold;
}

.services-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    
}

.services-list > div {
    background-color: #0e1f3f;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(22, 32, 119, 0.1);
    transition: transform 0.2s ease-in-out;
}

.services-list > div:hover {
    transform: scale(1.02);
}


h2 {
    color: #d3d3d3;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

h3 {
    color: #d3d3d3;
    font-size: 1.2rem;
    margin-top: 1rem;
    font-weight: 600;
}

p, li {
    color: #d3d3d3;
    font-size: 1rem;
    line-height: 1.6;
}

li {
    margin-left: 1.5rem;
    list-style-type: disc;
}

h3::before {
    content: "游댳 ";
    color: #007bff;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #007bff;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #0056b3;
}

.progress-bar{
    align-items: center;
}


/******contact******/
.contact-left{
    flex-basis: 35%;
}

.contact-left p{
    margin-top: 5px;
} 
.contact-right{
    flex-basis: 60%;
}


/*
section {
    padding: 2em;
    max-width: 800px;
    margin: 0 auto;
}

#projects .project {
    margin-top: 1em;
}

h1, h2, h3 {
    margin-bottom: 0.5em;
}

a {
    color: #1e90ff;
    text-decoration: none;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-md-4 {
    flex: 0 0 33.33%;
    max-width: 33.33%;
    padding: 15px;
}

.col-md-8 {
    flex: 0 0 66.67%;
    max-width: 66.67%;
    padding: 15px;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.rounded-circle {
    border-radius: 50%;
    border-top-right-radius: 50%;
    
}

habilidades
#skills ul {
    list-style: none;
    padding: 0;
}

#skills li {
    margin: 0.5em 0;
    font-size: 1.1em;
}
*/